<%= form_with model: [@topic, @post], local: true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %><br>
    <%= f.text_area :body, rows: 10 %>
  </div>

  <div>
    <%= f.label :tag_ids, "Choose Existing Tags" %><br>
    <%= f.collection_select :tag_ids,
                            @available_tags,
                            :id,
                            :name,
                            { include_hidden: false },
                            { multiple: true, size: 5 } %>
    <small>Hold Ctrl/Cmd to select multiple tags.</small>
  </div>

  <div>
    <%= f.label :tags_attributes, "Add New Tags" %><br>
    <% 3.times do |index| %>
      <%= text_field_tag "post[tags_attributes][#{index}][name]", "", id: "post_tags_attributes_#{index}_name", placeholder: "e.g. ruby" %>
    <% end %>
    <small>Leave blank if you do not need new tags.</small>
  </div>

  <%= f.submit %>
<% end %>
