<h1>
  <% if @topic %>
    Posts for <%= @topic.name %>
  <% else %>
    All Posts
  <% end %>
</h1>

<% if @topic %>
  <%= link_to "New Post", new_topic_post_path(@topic) %>
<% end %>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h2>
          <%= link_to "#{post.title} (#{post.topic.name})",
                      topic_post_path(post.topic, post) %>
        </h2>
        <p><%= truncate(post.body, length: 200) %></p>
        <p><strong>Author:</strong> <%= post.user.email %></p>
        <% unless @topic %>
          <p><strong>Topic:</strong> <%= link_to post.topic.name, topic_posts_path(post.topic) %></p>
        <% end %>
        <% if post.tags.any? %>
          <p><strong>Tags:</strong> <%= post.tags.map { |t| "##{t.name}" }.join(", ") %></p>
        <% end %>
        <% average_rating = post.average_rating_value %>
        <p>
          <strong>Average:</strong>
          <% if average_rating %>
            <%= number_with_precision(average_rating, precision: 1) %> stars.
          <% else %>
            No ratings yet.
          <% end %>
        </p>
        <p><strong><%= "#{pluralize(post.comments_count_value, "comment")}." %></strong></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <% if @topic %>
    <p>No posts yet. <%= link_to "Create the first post", new_topic_post_path(@topic) %>.</p>
  <% else %>
    <p>No posts available.</p>
  <% end %>
<% end %>

<% if @posts.respond_to?(:current_page) && @posts.total_pages > 1 %>
  <nav class="pagination-nav">
    <% prev_page = @posts.prev_page %>
    <% next_page = @posts.next_page %>

    <% if prev_page %>
      <%= link_to "Previous Page",
                  url_for(page: prev_page),
                  class: "pagination-button" %>
    <% else %>
      <span class="pagination-button disabled">Previous Page</span>
    <% end %>

    <span class="pagination-button current">
      Page <%= @posts.current_page %> of <%= @posts.total_pages %>
    </span>

    <% if next_page %>
      <%= link_to "Next Page",
                  url_for(page: next_page),
                  class: "pagination-button" %>
    <% else %>
      <span class="pagination-button disabled">Next Page</span>
    <% end %>
  </nav>
<% end %>

<%= link_to "Back to Topics", topics_path %>
